<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZKXKKPGSCL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZKXKKPGSCL');
</script>


<header class="site-header reveal delay-1">
    <div class="header-container">
        <div class="header-left-spacer"></div>
        
        <div class="logo-magnetic-field">
            <a href="/" class="header-logo">
                <div class="logo-stage" id="logoEngine">
                    
                    <span class="logo-word left-word">
                        <span class="logo-letter" style="--i: 4;">L</span>
                        <span class="logo-letter" style="--i: 3;">o</span>
                        <span class="logo-letter" style="--i: 2;">o</span>
                        <span class="logo-letter" style="--i: 1;">m</span>
                    </span>
                    
                    <div class="logo-ampersand-wrap">
                        <span class="logo-letter logo-amp">&</span> 
                    </div>
                    
                    <span class="logo-word right-word">
                        <span class="logo-letter" style="--i: 1;">P</span>
                        <span class="logo-letter" style="--i: 2;">i</span>
                        <span class="logo-letter" style="--i: 3;">x</span>
                        <span class="logo-letter" style="--i: 4;">e</span>
                        <span class="logo-letter" style="--i: 5;">l</span>
                    </span>
                    
                </div>
            </a>
        </div>

        <nav class="header-nav">
            <a href="/careers" class="header-link">Careers</a>
            <a href="/#contact" class="header-link">Contact</a>
        </nav>
    </div>
</header>
